<mat-toolbar color="primary">
  <h1>🔥 Klingens guide to RXJS 🔥</h1>
</mat-toolbar>
<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <button mat-button [routerLink]="route.path" *ngFor="let route of routes">{{ route.data.name }}</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="secondary" *ngIf="subrouterService.hasSubroutes$ | async">
  <mat-toolbar-row >
    <button [routerLink]="route.path.split(';')" mat-button *ngFor="let route of subrouterService.subRoutes$ | async">{{ route.data.name }}</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
